.gallery-button {
 margin-top: 5px;
}

.biography-button {
 margin-top: 5px;
}

.awards-button {
 margin-top: 5px;
}

.films-button {
 margin-top: 5px;
}

.button {
  background-color: navy;
  color: white;
}

.actor {
    width: 4;
  background-color: lightblue;
  height:300px;
}

h3 {
  display: inline; 
  font-weight: bold;
}

p {
  display:inline; 
  font-weight:bold;
}