.gallery-button {
 margin-top: 5px;
}

.biography-button {
 margin-top: 5px;
}

.awards-button {
 margin-top: 5px;
}

.films-button {
 margin-top: 5px;
}

.button {
  background-color: green;
  color: white;
}

.actor {
    width: 4;
  background-color: white;
  height:300px;
}

h3 {
  display: inline; 
  font-weight: bold;
}

p {
  display:inline; 
  font-weight:bold;
}

img {
  margin-top: 30px;
}
.film {
  width: 100%;
}